<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="https://greenest.ee/assets/css/app.min.css">
    <link rel="stylesheet" href="https://greenest.ee/css/style.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
  </head>
  

  <body>

    
    <div class="main-wrapper">
     <div class="content">     
    <header>
      <meta name="verify-paysera" content="1a4bdae52b9862e738ddd47b92d5474e">
      <div class="top-bg">
        <div class="row">
          <div class="large-3 medium-3 columns">
            <div class="logo">
              <a href="{{ url('/') }}"><img src="{{ asset('/Greenest-logo.png') }}"></a>
            </div>  
          </div>
          <div class="large-6 medium-6 columns ">
            <div class="callback">
              <!-- <span>{{ Voyager::setting('header_first_row') }}</span><br/> -->
              <!-- <span>{{ Voyager::setting('header_second_row') }}</span> -->
              <!-- <span class="tel">{{ Voyager::setting('phone_number') }}</span> -->
            </div>
          </div>     
          <div class="large-3 medium-3 columns">
            <div class="shopping-cart @if(Cart::count()) cart_active @endif"> 
              <!-- <a href="{{ action('CartController@getCheckout') }}"><span><img src="{{ asset('/cart.png') }}"><span id="cartInfo">{{ getCartInfo() }}</span></span></a> -->
              <div class="title-bar" data-responsive-toggle="example-menu2" data-hide-for="medium" style="display: block;">
                <button class="menu-icon" type="button" data-toggle="example-menu2"></button>
                <div class="title-bar-title"></div>
              </div>
          </div>  
        </div>
      </div>   
     
     <div class="top-menu">
       <div class="row">
          <div class="large-9 columns ">
            <nav class="menu" id="example-menu2">
<!--               <ul>
                @foreach($headerNav as $key => $item)
                  <li><a href="{{ url($key) }}" @if(Request::is($key)) class="active-item" @endif>{{ $item }}</a></li>
                @endforeach
              </ul> -->
            </nav>  
          </div>     
          <div class="large-3 columns">
            <div class="search">
              <!-- <div class="row"> -->
<!--                     {!! Form::open(['action' => 'SearchController@getResult', 'class' => 'form-wrapper', 'method' => 'get']) !!}
                      <div class="search-custom">
                      <a href="#" id="search-button"  @if(Auth::check()) class="user-auth" @endif></a>
                      </div>
                      <div class="search-custom">
                      {!! Form::input('text', 'q', null, ['id' => 'search', 'placeholder' => request()->get('q') ? : 'Search', 'minlength' => 2, 'required']) !!}
                      </div>
                    {!! Form::close() !!} -->
               <!-- </div>    -->
            </div>  
          </div>  
        </div>
    <div class="vsz-catalogue-toggle">
        <a class="menu-icon" href="#"></a>
        <div class="clearfix"></div>
    </div>
      </div> 
    </header>
  
  
  	<!-- <img src="https://greenest.ee/img/vegan.png" alt="" class="vegan"> -->
    
  <div class="row"><h3>SPICY SALSA BIO 260 g</h3></div>
  <div class="row">
    <div class="large-6 small-12 columns">
      <div class="vsz_img_wrapper">
        <img src="https://greenest.ee/storage/products/April2017/KI30/05r5Q1DdTYwbt0V1B1HA.jpg" alt="SPICY SALSA BIO 260 g">
      </div>
    </div>
    <div class="large-6 small-12 columns">
              <h4>Brand:</h4>
         AMAIZIN<br>
      
              <h4>Ingredients:</h4>
        <p>Tomato concentrate *, vinegar *, onion *, corn syrup *, red pepper *, green peppers *, rice starch *, sea salt, sauce Tamari * (soybean *, sea salt), corn flour *, yeast *, acidity regulator - citric acid, cayenne pepper * * curry (containing mustard *), maltodextrin and corn *, herbs and spices * (contains celery *) (* certified organic ingredient)</p>
      
              <h4>Nutritional value of 100g</h4>
        <p>Energy value 372 kJ / 89 kcal</p>
<p>Fat 0,2 g</p>
<p>Carbohydrate 21,2 g</p>
<p>of which sugars 16,3 g</p>
<p>Protein 1,3 g</p>
<p>Salt 1 4 g</p>
      
              <h4>Recommended storage</h4>
        <p>Store in a cool, dry place.</p>
            
          </div>
    <div class="row">
      <div class="large-12 small-12 columns vsz_more_information">
        <p class="vsz_pieces">1 <span>piece</span></p>
        <p class="price">€2,55</p>
        <div class="btn-wrapper">
          <button type="button" class="alert button buy_btn" data-product="3167" data-page="single">buy</button>
        </div>
        <p class="vsz_per_price">Price per kg: 9,81 €</p>
      </div>
    </div>
    
    <div class="row">
      <div class="large-12 small-12 columns">
                                          <div class="country-row">
            <h4>Country of origin:</h4>
            Netherlands
          </div>
                                    <div class="inline-row">
              <h4>Shelf life:</h4> 180 days 
            </div>
              </div>
    </div>

  </div>
    <footer>
      <div class="bottom-menu">
        <div class="row">

          <div class="large-3 columns">
          &nbsp
          </div>

          <div class="large-9 columns">

<!--             <div class="bottom-nav">
              <ul>
                  @foreach($footerNav as $key => $item)
                    <li><a href="{{ url($key) }}">{{ $item }}</a></li>
                  @endforeach
              <ul> -->
            </div> 

          </div>
        </div>  

        <div class="green-bg">
          <div class="row">
              <div class="large-12 columns">
                <div>
                  <!-- <span>(c) {{ Carbon\Carbon::now()->year }}  {{ Voyager::setting('copyright') }}</span> -->
                </div>  
              </div>
          </div>  
        </div>  
      </div>
    </footer>
    <script type="text/javascript" src="public/assets/js/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="public/assets/js/app.min.js"></script>
    <script type="text/javascript" src="public/assets/js/style.js"></script>
    <script type="text/javascript" src="public/assets/js/login.js"></script>
      <!-- @stack('scripts') -->
      
    </div>
  </body>
</html>    