
 @font-face {
    font-family: proximanovabold; /* Имя шрифта */
    src: url(../fonts/proximanova-bold.otf); /* Путь к файлу со шрифтом */
   }
    @font-face {
    font-family: proximanovalight; /* Имя шрифта */
    src: url(../fonts/proximanova-light.otf); /* Путь к файлу со шрифтом */
}
    @font-face {
    font-family: proximanovaregular; /* Имя шрифта */
    src: url(../fonts/proximanova-regular.otf); /* Путь к файлу со шрифтом */
    }
.top-bg{
	background-image: url("../header-bg.jpg");
      background-size: cover;
    background-repeat: no-repeat;
}
/*html, body, .main-wrapper{
  height:100%;
} 
.site-wrapper{
      box-sizing: border-box;
    min-height: 76%;
    padding-bottom: 190px;
}*/
footer{
/*  position: absolute;
  bottom: 0;
  width: 100%;*/
    height: 80px;
     /*  margin-top: -112px;*/
}
/**{border:1px solid red;}*/
.top-menu{
      background: #000;
    height: 68px;
}
.menu li{
  list-style-type: none;
  display: inline-block;
}
.menu li>a{
    color: #fff;
/*    padding: 20px;*/
    display: inline-block;
/*    margin-right: 15px;*/
        padding: 20px 30px;
    font-family: proximanovabold;
    font-size: 18px;
    text-align: center;
}
.menu li>a:hover,
.bottom-nav li>a:hover{
  background: rgb(240,0,15); /* Old browsers */
background: -moz-linear-gradient(top, rgba(240,0,15,1) 0%, rgba(195,3,56,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(240,0,15,1) 0%,rgba(195,3,56,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(240,0,15,1) 0%,rgba(195,3,56,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0000f', endColorstr='#c30338',GradientType=0 ); /* IE6-9 */
}
.active-item{
  background: rgb(240,0,15); /* Old browsers */
background: -moz-linear-gradient(top, rgba(240,0,15,1) 0%, rgba(195,3,56,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(240,0,15,1) 0%,rgba(195,3,56,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(240,0,15,1) 0%,rgba(195,3,56,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0000f', endColorstr='#c30338',GradientType=0 ); /* IE6-9 */
}
.bottom-menu{
   background: #000;
}
.bottom-menu .bottom-nav li{
  display: inline-block;
}
.bottom-nav ul,
.menu ul{
  margin: 0;
}
.bottom-menu .bottom-nav li>a{
      display: inline-block;
    padding-top: 12px;
    padding-bottom: 12px;
    color: #fff;
    font-size: 18px;
   /* width: 24.5%;*/
     font-family: proximanovalight;
     text-align: center;
     padding-left: 30px;
     padding-right: 30px;
}
.shopping-cart{
  text-align: center;
/*	background-image: url("../cart-background.jpg");
	background-repeat: repeat-x;*/
  min-height: 85px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#028c01+0,71ab23+100 */
background: rgb(2,140,1); /* Old browsers */
background: -moz-linear-gradient(top, rgba(2,140,1,1) 0%, rgba(113,171,35,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(2,140,1,1) 0%,rgba(113,171,35,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(2,140,1,1) 0%,rgba(113,171,35,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#028c01', endColorstr='#71ab23',GradientType=0 ); /* IE6-9 */
}
.shopping-cart:hover,
.shopping-cart:focus,
.shopping-cart:active{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c20239+0,fa3b04+100 */
background: rgb(194,2,57); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(194,2,57,1) 0%, rgba(250,59,4,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(194,2,57,1) 0%,rgba(250,59,4,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(194,2,57,1) 0%,rgba(250,59,4,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c20239', endColorstr='#fa3b04',GradientType=0 ); /* IE6-9 */

}
.shopping-cart>a{
      color: #fff;
    padding-top: 30px;
    display: inline-block;
    font-size: 20px;
   /* padding-left: 5px;*/
}
.logo{
/*  padding-bottom: 15px;*/
}
.callback{
	text-align: center;
      padding-top: 25px;
}
.callback>span{
  font-family: proximanovalight;
  color:#fff;
  font-size: 24px;
}
span.tel{
	font-family: proximanovabold;
  color:#fff;
  font-size: 24px;
}
.callback>span{
  line-height: 0.7em;
}
.green-bg{
  background: #73ab24;
  padding-bottom: 20px;
  padding-top: 20px;
}
.green-bg .large-9.columns span{
  font-size: 14px;
  color: #fff;
}
.hollow.button{
  width:50%;
  margin-bottom: 0;
  margin-top: 20px;
  border:none;
}
.hollow.button.float-right.tile,
.hollow.button.float-right.list{
    background-size: 100% 100%;
    height:35px;
}
.hollow.button.float-right.tile{
  background-image: url('../lidt-disable.png');
}
.hollow.button.float-right.tile:hover,
.hollow.button.float-right.tile:focus,
.hollow.button.float-right.tile:active{
  background-image: url('../list.png'); 
}
.hollow.button.float-right.list{
   background-image: url('../tile.png'); 
}
.hollow.button.float-right.list:active,
.hollow.button.float-right.list:focus,
.hollow.button.float-right.list:hover{
   background-image: url('../tile-active.png');
}
.count-products{
  margin-bottom: 0;
      padding-top: 30px;
    padding-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
}
.products{
     /* margin-left: 30px;*/
}
.products>.row{
  border-top: 1px solid #e3e3e3;
  padding-left: 20px;
  border-left: 1px solid #e3e3e3;
}
.left-bar{
/*  border-right: 1px solid #e3e3e3;*/
}
.products>.row>p{
  font-size: 18px;
  font-family: Open Sans;
  font-weight: bold;
  padding-top: 10px;
}
.products .large-6>ul>li{
  list-style-image: url('../list-image.png');
  font-family: Open Sans;
  font-size: 13px;
}

.btn-wrapper>button{
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 5px;
  border:1px solid #940530;
* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f93b05+0,c80833+100 */
background: rgb(249,59,5); /* Old browsers */
background: -moz-linear-gradient(top, rgba(249,59,5,1) 0%, rgba(200,8,51,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(249,59,5,1) 0%,rgba(200,8,51,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(249,59,5,1) 0%,rgba(200,8,51,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f93b05', endColorstr='#c80833',GradientType=0 ); /* IE6-9 */
}
.Login-button{
      color: #fff;
    margin-left: 35px;
        margin-top: 5px;
    display: inline-block;
    margin-right: 30px;
    border-radius: 5px;
    border: 1px solid #940530;
    font-weight: bold;
    padding: 10px 20px;
    background: rgb(249,59,5);
    background: -moz-linear-gradient(top, rgba(249,59,5,1) 0%, rgba(200,8,51,1) 100%);
    background: -webkit-linear-gradient(top, rgba(249,59,5,1) 0%,rgba(200,8,51,1) 100%);
    background: linear-gradient(to bottom, rgba(249,59,5,1) 0%,rgba(200,8,51,1) 100%);

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f93b05', endColorstr='#c80833',GradientType=0 ); /* IE6-9 */
}
.Login-button:hover{
  color:#fff;
   background: linear-gradient(to top, rgba(249,59,5,1) 0%,rgba(200,8,51,1) 100%);
  
}
.forgot{
  color:#000;
  text-decoration: underline;
}
.forgot:hover{
    color:#000;
}
/*#checkbox1 {
  width: 20px;
  height: 20px;
  position: relative;
  margin: 20px auto;
  border-radius: 0;
 
  background: linear-gradient(top, #0a8f03 0%, #69a821 40%, #b3bead 100%);
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
  label {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    left: 4px;
    border-radius: 0;
    top: 4px;
    background: linear-gradient(top, #0a8f03 0%, #69a821 100%);
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
    &:after {
      content: '';
      width: 9px;
      height: 5px;
      position: absolute;
      top: 4px;
      left: 4px;
      border: 3px solid #0f0;
      border-top: none;
      border-right: none;
      background: transparent;
      border-radius: 0;
      opacity: 0;
      transform: rotate(-45deg);
    }
    &:hover::after {
      opacity: 0.3;
    }
  }
  input[type=checkbox] {
    visibility: hidden;
    &:checked + label:after {
      opacity: 1;
    }    
  }
}*/
.vertical.menu input[type=checkbox] {
  display: none;
  border:1px solid #0f0;
}
input[type=checkbox]+label:before {
        border: 2px solid #c3c3c3;
    position: relative;
    width: 20px;
    height: 20px;
    display: block;
    content: '';
    left: -27px;
    top: 22px;
}
input[type=checkbox]:checked + label:before {
    content: "\2713";
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    border: 2px solid #008c00;
    font-size: 31px;
    color: #008c00;
    text-align: center;
    line-height: 15px;
    font-size: 20px;
}
.vertical.menu label{
  line-height: 0em;
  margin-top: -10px;
}
.vertical.menu {
      padding-bottom: 50px;
          margin-left: 40px;
}
.vertical.menu a>span{
  color:#000;
}
.text-sidebar,
.active-element a
{
    color:#000;   
   font-size: 16px;
   font-family: Open Sans;
   margin-left: 3px;
       min-width: 200px;
    display: inline-block;
        padding-bottom: 13px;
    padding-top: 13px;
    padding-left: 3px;
}
.text-sidebar:hover, .text-sidebar:active{
  color:#fff;
  padding-left: 3px;
     padding-bottom: 13px;
    padding-top: 13px;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#068e02+0,70aa23+100 */
background: rgb(6,142,2); /* Old browsers */
background: -moz-linear-gradient(top, rgba(6,142,2,1) 0%, rgba(112,170,35,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(6,142,2,1) 0%,rgba(112,170,35,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(6,142,2,1) 0%,rgba(112,170,35,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#068e02', endColorstr='#70aa23',GradientType=0 ); /* IE6-9 */}
.vertical.menu>ul{
  list-style-type: none;
  margin-left: 5px;
}
.vertical.menu>ul a{
    font-size: 14px;
}
.vertical.menu span{
  font-size:12px;
}
.pieces-wrapper{
      margin-bottom: 15px;
}
.pieces-wrapper>p{
          text-align: center;
    font-size: 30px;
    margin-bottom: 0;
    font-weight: bold;
    border: 1px solid #e3e3e3;
    border-radius: 7px;
    margin-top: -35px;
      font-family: Open Sans;
      background: #f8f8f8;
}
.pieces-wrapper>p>span{
    font-size: 14px;
      font-family: Open Sans;
}
.price{
      text-align: center;
        font-family: Open Sans;
        font-weight: bold;
    font-size: 30px;
      background: -webkit-linear-gradient(#078e02, #70aa23);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 0;
}
.btn-wrapper>span{
      font-size: 14px;
   /* position: relative;
        left: -120px;
    top: 40px;*/
    font-family: Open Sans;
}
.text-right .btn-wrapper{
  text-align: center;
}
.search{
      padding-top: 16px;
}
.search .large-3{
  padding-right: 0;
}
.search .large-3>a{
      width: 93%;
    height: 33px;
    background: -webkit-linear-gradient(#078e02, #70aa23);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color:#fff;
}
#search-button{
  background-image: url('../guy2.png');
      display: block;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 34px;
}
.search .large-9{
  padding-left: 5px;
}
.search .large-9>input{
  height: 33px;
    border-radius: 4px;
    background: #343232;
    border: none;
    color: #fff;
}
.products>.row:last-child{
  border-bottom: 1px solid #e3e3e3;
 /* margin-bottom: 100px;*/
}
.products.tile-list>.row{
       display: inline-block;
    border: 1px solid #e3e3e3;
    width: 31%;
    float: left;
        margin: 5px;
}
.products.tile-list>.row .large-6.column{
  display:none;
}
.products.tile-list>.row>div{
  width:100%;
}
.products.tile-list .pieces-wrapper>p{
  border:none;
  background:none;
}
.bottom-name {
  display:none;
}
.tile-list .top-name{
  display: none;
}
.tile-list  .bottom-name{
  display: block;
  margin-bottom: 0;
  text-align: center;
}
.tile-list .row.product-item{
      margin: 10px 5px;
          min-height: 335px;
}
.tile-list .pieces-wrapper{
        margin-bottom: 0px;
    height: 1px;
}
.tile-list .pieces-wrapper>p{
    position: relative;
    top: 30px;
    left: -70px;
        font-size: 14px;
}
.tile-list  .price{
      margin-bottom: 0;
    position: relative;
    top: 25px;
    left: 10px;
        font-size: 18px;
}
.tile-list  .btn-wrapper>span{
      left: -10px;
    top: 5px;
}
.tile-list>.row>p{
      margin: 5px 10px 20px;
    padding-top: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #e3e3e3;
    min-height: 100px;
}
.tile-list .product-item .large-3.column>img{
  margin-top: 10px;
}
.order-rewiew{
  border-bottom:1px solid #e3e3e3;
}
.order-rewiew>img{
      margin-top: -10px;
    margin-right: 30px;
    margin-left: 10px;
}
.order-rewiew>span{
        font-size: 24px;
    line-height: 3.5em;
}
.large-5.columns.order-item{
      margin-top: 15px;
}
.order .large-1{
  text-align: center;
}
.order-item>.top-name{
      font-family: Open Sans;
    font-weight: bold;
}
.order-item>.top-name>span{
      padding: 8px 15px;
    border: 1px solid #e3e3e3;
    border-radius: 5px;
    background: #f8f8f8;
    margin-left: 10px;
}
.order-item>.top-name+img{
  width:30%;
}
.empty-cart{
  text-align: right;
  text-decoration: underline;
}
.empty-cart>span{
  margin-right: 25px;
}
/*.count-input {
  position: relative;
  width: 100%;
  max-width: 165px;
  margin: 10px 0;
}
.count-input input {
  width: 100%;
  height: 36.92307692px;
  border: 1px solid #000;
  border-radius: 2px;
  background: none;
  text-align: center;
}
.count-input input:focus {
  outline: none;
}
.count-input .incr-btn {
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  font-size: 26px;
  font-weight: 300;
  text-align: center;
  line-height: 30px;
  top: 50%;
  right: 0;
  margin-top: -15px;
  text-decoration:none;
}
.count-input .incr-btn:first-child {
  right: auto;
  left: 0;
  top: 46%;
}
.count-input.count-input-sm {
  max-width: 125px;
}
.count-input.count-input-sm input {
  height: 36px;
}
.count-input.count-input-lg {
  max-width: 200px;
}
.count-input.count-input-lg input {
  height: 70px;
  border-radius: 3px;
}*/
.checkout .large-1.columns.price{
  text-align: center;
  padding-top: 60px;
}
.count-input.space-bottom .incr-btn:first-child{
    /*  height: 0.4375rem;*/
    margin: 0 0 1rem;
    padding: 0.3rem 0.7rem;
    background: #e3e3e3;
    border-radius: 5px;
     color: #727272;
}
.count-input.space-bottom .incr-btn:last-child{
    /*  height: 0.4375rem;*/
    margin: 0 0 1rem;
    padding: 0.3rem 0.7rem;
    background: #73ab24;
    border-radius: 5px;
    color: #fff;
}
.count-input.space-bottom .quantity{
      display: inline-block;
    width: 24%;
    border: none;
    box-shadow: none;
}
.checkout .large-1.columns.wrapper span:first-child{
      font-size: 12px;
       font-family: Open Sans;
       text-transform: uppercase;

}
.checkout .large-1.columns.wrapper span:last-child{
      font-size: 22px;
      font-weight: bold;
       font-family: Open Sans;
       display: inline-block;
    margin-top: 10px;
}
.checkout .large-1.columns .count-input.space-bottom{
          padding-top: 8px;
}
.checkout  .close{
        margin-top: 35px;
    display: inline-block;
}
.checkout  .order{
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid #e3e3e3;
}
.checkout .total{
  padding-top: 0;
}
.total-value span,
.total-bold span{
  font-family: Open Sans;
}
/*.checkout .total>span{
  font-family: Open Sans;
  font-size: 16px;
  margin: 0;
  font-weight: normal;
}*/
.total-value .large-2,
.total-value .large-1{
  margin-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #e3e3e3;
}
.total-value .large-2,
.total-bold .large-2{
  text-align: right;
  padding-right: 25px;
}
.empty-cart{
      padding-bottom: 10px;
    padding-top: 10px;
}
.total-bold span{
  font-weight: bold;
}
.checkout-buttons .red-button{
      background: linear-gradient(to top, rgba(240,0,15,1) 0%,rgba(195,3,56,1) 100%);
    text-align: center;
    border: 1px solid #991039;
  
}
.checkout-buttons .red-button:hover{
      background: linear-gradient(to bottom, rgba(240,0,15,1) 0%,rgba(195,3,56,1) 100%);
  
  
}
.checkout-buttons .red-button{
      margin: 10px;
    display: inline-block;
    width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: Open Sans;
    font-weight: bold;
    color:#fff;
}
.row.forms .large-4.column .wrapper-form{
  /*    padding: 14px;*/
    border: 2px solid #d3d3d3;
        padding: 20px;
            margin-bottom: 30px;
                min-height: 175px;
}
.row.forms {
      padding-bottom: 50px;
      margin-top: 40px;
}
.wrapper-form>h5{
  font-size: 24px;
  text-transform: capitalize;
    font-family: proximanovalight;
    font-weight: bold;
}
.row.forms input,
.row.forms textarea,
.row.forms select{
      background: #eee;
    box-shadow: none;
    border: 1px solid #e6e6e6;
    margin-bottom: 0;
}
#tel-code{
      width: 55px;
    display: inline-block;
    margin: 0;
    margin-left: 10px;
}
#telephone{
       display: inline-block;
    width: 115px;
    margin-left: 10px;
    margin-bottom: 0;
}
.wrapper-form input,
.wrapper-form p{
  margin: 0;
}
.wrapper-form p{
  padding-top: 10px;
  padding-bottom: 10px;
}
.wrapper-form .large-6{
  padding-left: 5px;
  padding-right: 5px;
}
.image-billing{
      position: relative;
    padding-left: 47px;
}
.image-billing::before{
      content: "";
    position: absolute;
    width: 40px;
    background-image: url(../billing-address.png);
    height: 30px;
    left: 0;
    top: 0;
    background-repeat: no-repeat;
}
.wrapper-form .large-6.column input[type=checkbox]{
  display: block!important;
}
.wrapper-form input[type=checkbox]{
      margin-top: 21px;
    margin-right: 10px;
}
.radio-shipping span{
      display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
}
.wrapper-form>h5>img{
  margin-right: 15px;
  margin-top: -5px;
}
.checkboxes{
  text-align: center;
}
.checkboxes span{
  font-size: 13px;
  font-family: Open Sans;
}
.checkboxes span>a{
  text-decoration: underline;
  color:#96c05a;
}
.checkboxes input[type=checkbox]{
      margin-right: 10px;
    margin-bottom: 15px;
}
.place-order{
      margin: 0px;
    display: inline-block;
    width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: Open Sans;
    font-weight: bold;
    color: #fff;
        background: linear-gradient(to top, rgba(240,0,15,1) 0%,rgba(195,3,56,1) 100%);
    text-align: center;
    border: 1px solid #991039;
}
.place-order:hover{
  color:#fff;
       background: linear-gradient(to bottom, rgba(240,0,15,1) 0%,rgba(195,3,56,1) 100%);
}
.text h1,
.text h2,
.text p{
  font-family: Open Sans;
}
.text h1{
  font-size: 24px;
  font-weight: bold;
}
.text h2{
  font-size: 18px;
  font-weight: bold;
}
.text p{
  font-size: 13px;
}
/*.text .main-wrapper{
  margin-bottom: 1000px;
}*/
.text .text-wrapper{
  margin-top: 50px;
}
.gray-bg,
.green-bg{
  padding: 35px;
}
.green-bg p{
  color:#fff;
}
.gray-bg{
  background: #f6f6f6;
}
.cake .large-9.column{
  padding-top: 50px;
}

      .modalHome:target:before {
    display: block;
        background: rgba(0, 0, 0, 0.6);
  }
  .modalHome:target .modalHome-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    top: 10%;
  }
  .modalHome:before {
    content: "";
    display: none;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}
  .modalHome-dialog {
    background: #fefefe;
    border: #333 solid 1px;
   /* border-radius: 5px;*/
    margin-left: -150px;
    position: fixed;
    left: 50%;
    top: -100%;
    z-index: 99999;
    width: 350px;
    -webkit-transform: translate(0, -500%);
    -ms-transform: translate(0, -500%);
    transform: translate(0, -500%);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -moz-transition: -moz-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
  }
  .btn-close{
        position: relative;
    left: 87%;
    font-size: 40px;
    top: 5px;
    color: #fff;
  }
  .modalHome-header{
    margin-bottom: 30px;
        /* background: rgb(2,140,1); */
    background: -moz-linear-gradient(top, rgba(2,140,1,1) 0%, rgba(113,171,35,1) 100%);
    /* background: -webkit-linear-gradient(top, rgba(2,140,1,1) 0%,rgba(113,171,35,1) 100%); */
    background: linear-gradient(to bottom, rgba(2,140,1,1) 0%,rgba(113,171,35,1) 100%);
  }
  .modalHome-header span{
    font-size: 29px;
    color:#fff;
  }
  .modalHome-body input{
        margin-left: 30px;
    margin-right: 30px;
    width: 80%;
    box-shadow: none;
    border: none;
    background: #ececec;
    border-radius: 5px;
  }
  .modalHome-body input[type="email"]:hover,
  .modalHome-body input[type="email"]:active,
  .modalHome-body input[type="email"]:focus,
  .modalHome-body input[type="email"]:visited,{
 box-shadow: none;
    border: none;
    background: #ececec;
    outline: none;
  }

  .modalHome.reveal{
        width: 300px;
        border:none;
  }
  .modalHome-body .Login-button{
        display: block;
    width: 85px;
    margin: 0 auto;
  }
  footer .green-bg{
  /*  padding:0;*/
  }


  html,
body {
  height: 100%;
}
.main-wrapper {
  position: relative;
  min-height: 100%;
}
.content {
  padding-bottom: 90px;
}
footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 80px;
}
.welcome-page{
     background-image: url(../welcome.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.welcome-page header{
      height: 90px;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    margin-bottom: 70px;
}
.welcome-page header img{
      width: auto;
    height: 80px;
    display: inline-block;
        margin-top: 20px;
}
.welcome-page h1{
      text-align: center;
    color: #fff;
    font-family: proximanovabold;
    font-size: 69px;
}
.welcome-page #buy-now{
      text-align: center;
    display: block;
    margin: 0 auto;
    padding: 5px;
    color: #fff;
    font-family: Open Sans;
    letter-spacing: 2px;
    width: 250px;
    border-radius: 30px;
    font-size: 26px;
    margin-top: 40px;
        background: rgb(194,2,57);
    background: -moz-linear-gradient(top, rgba(194,2,57,1) 0%, rgba(250,59,4,1) 100%);
    background: -webkit-linear-gradient(top, rgba(194,2,57,1) 0%,rgba(250,59,4,1) 100%);
    background: linear-gradient(to bottom, rgba(194,2,57,1) 0%,rgba(250,59,4,1) 100%);
}
.welcome-page #buy-now:hover{
            background: rgb(194,2,57);
    background: -moz-linear-gradient(bottom, rgba(194,2,57,1) 0%, rgba(250,59,4,1) 100%);
    background: -webkit-linear-gradient(bottom, rgba(194,2,57,1) 0%,rgba(250,59,4,1) 100%);
    background: linear-gradient(to top, rgba(194,2,57,1) 0%,rgba(250,59,4,1) 100%);
}
.top-columns{
  height:365px;
}
.required-field{
  color:#f00;
}
.welcome-page h4{
  display: none;
}
.select2-selection__arrow{
  display: none;
}
.select2-selection.select2-selection--single{
      background: #eee!important;
    box-shadow: none!important;
    border: 1px solid #e6e6e6!important;
    margin-bottom: 0!important;
    height: 2.4375rem!important;
    border-radius: 0!important;
}
.select2-selection__rendered{
      line-height: 35px!important;
}
.list-item .large-3 .price + .btn-wrapper>span {
    position: relative;
    left: -120px;
    top: 30px;
}
img.gluten {
  right: 220px;
}
img.vegan {
  right: 290px;
}
.tile-list img.gluten {
  left: 10px;
}
.tile-list img.vegan {
  right: 10px;
}
img.gluten,
img.vegan {
  /*position: absolute;*/
  /*top: 15px;*/
}
.product-icons {
  position: absolute;
  right: 220px;
  top: 10px;
}
@media(max-width:768px){
  .welcome-page header img{
        height: 75px;
  }
  .welcome-page h1{
        font-size: 48px;
    margin-top: 100px;
    margin-bottom: 100px;
    line-height: 1.0em;
  }
  .welcome-page #buy-now{
        text-align: center;
    display: block;
    margin: 0 auto;
    padding: 30px 90px;
    color: #fff;
    font-family: Open Sans;
    letter-spacing: 2px;
    width: 400px;
    border-radius: 60px;
    font-size: 41px;
    margin-top: 40px;
  }
  .welcome-page{
    background-image: url("../tablet_welcome.png");
  }
  .welcome-page header{
    margin-bottom: 0;
  }
  .welcome-page h4{
  display: block;
    font-family: proximanovalight; 
    text-align: center;
    color:#fff;
    letter-spacing: 2px;
}
  .welcome-page header img{
        height: 60px;
  }
.top-columns{
  height:auto;
}
.checkout-buttons .red-button{
  margin:2%;
  width:96%;
}

.welcome-page h1{
      font-size: 50px;
          margin-top: 100px;
    margin-bottom: 100px;
}
.shopping-cart{
  min-height: 50px;
}
.shopping-cart .title-bar{
      width: 50px;
    float: right;
    height: 50px;
    padding-top: 10px;
    text-align: center;
}
.top-menu>.row>.large-8.columns,
.top-menu>.row>.large-9.columns{
    width: 50%;
    float: right;
}  
#example-menu2{
      border: 3px solid rgb(255, 0, 0);
      display: block;
      position: absolute;
      z-index: 33;
}

#example-menu2 li{
  background: #000;
      width: 100%;
}
.shopping-cart>a{
  padding-top: 10px;
  font-size: 18px;
}
.top-menu .large-1.columns{
  display: none;
}
.menu li>a{
  width:100%;
}
.callback{
      position: relative;
    top: 35px;
        text-align: right;
}
.callback>span,
span.tel{
      font-size: 17px;
}
.search .large-3>input{
        width: 40px;
    height: 33px;
}
#search-button{
      background-size: contain;
    height: 34px;
}
.search .large-9>input{
      width: 35%;
     position: relative;
    top: -34px;
    left: 60px;
}
.top-bg .large-6.columns{
  height:0;
} 
.logo{
  padding-bottom: 15px;
  text-align: center;
}
.logo img{
  width:70%;
}
.top-bg .large-3.columns{
  padding: 0;
}
.top-bg .large-3.columns .title-bar{
      background: -moz-linear-gradient(top, rgba(249,59,5,1) 0%, rgba(200,8,51,1) 100%);
    background: -webkit-linear-gradient(top, rgba(249,59,5,1) 0%,rgba(200,8,51,1) 100%);
    background: linear-gradient(to bottom, rgba(249,59,5,1) 0%,rgba(200,8,51,1) 100%);
}
.top-menu  .menu-icon::after{
      background: #000;
    box-shadow: 0 7px 0 #000, 0 14px 0 #000;
}
.main-wrapper .content .row.small-collapse .large-3.columns{
  display: none;
}
.main-wrapper .content .row.small-collapse .large-1.columns{
      width: 100px;
    position: relative;
    top: -50px;
    height:30px;
}
.main-wrapper .content .text-center.count-products {
  padding: 0;
      position: relative;
    top: 30px;
}
.site-wrapper .title-bar{
      display: block;
    position: relative;
    top: -85px;
    text-align: right;
    background: rgb(246, 246, 246);
}
.site-wrapper .title-bar .menu-icon::after{
        background: #000;
    box-shadow: 0 7px 0 #000, 0 14px 0 #000;
}
.hollow.button{
      margin-top: 50px;
}
.left-bar{
      text-align: center;
    background: #f6f6f6;
    position: relative;
    top: -85px;
    width:100%;
}
.vertical.menu li{
  width:100%;
  text-align: left;
}
.products.list-item{
      margin: 0px;
}
.products .product-item{
      padding: 15px;
    border: 1px solid #e3e3e3;
    margin-bottom: 10px;
}
.pieces-wrapper{
  margin-top: 30px;
  margin-bottom: 0;
}
.price{
      text-align: center;
}
.btn-wrapper{
      position: relative;
    top: 0px;
    /* height: 0; */
    text-align: center;
}
.btn-wrapper>span{
  left: 0px; 
    top: -5px;
}
.products.tile-list>.row{
         width: 94%;
    margin: 3%;
}
.products>.row>p{
  text-align: center;
}
.bottom-menu .bottom-nav li>a{
  padding-left: 5px;
  padding-right: 5px;
}
.modalHome-dialog{
      margin-left: -175px;
}
.tile-list{
      margin-left: 0px;
}
.list-item .product-item{
    margin:15px;
}
.list-item .product-item img{
      width: 50%;
    /*margin-bottom: 30px;*/
    display: block;
    margin: 0 auto 30px;
}
.pieces-wrapper{
      height: 15px;
}
.list-item  .pieces-wrapper>p{
    
          position: relative;
    top: -260px;
        text-align: right;
        border: none;
        background: none;
}
.list-item  .price{
      text-align: right;
    position: relative;
    top: -210px;
}
.list-item .btn-wrapper{
      margin-top: -50px;
    margin-bottom: 30px;
}
.list-item .large-3 .price + .btn-wrapper>span{
      left: 0px;
    top: 70px;
}
.list-item .btn-wrapper>button{
        display: block;
    margin: 0 auto;
}
  .order{
        margin: 20px;
    min-height: 310px;
  }
  .order-rewiew{
        text-align: center;
  }
 .checkout .order-item>.top-name+img{
      width: 55%;
      margin-bottom: 50px;
 }
  .checkout .order{
          margin: 20px;
    min-height: 310px;
  }
  .checkout .top-name{
    text-align: center;
  }
   .checkout .row.small-collapse .large-1.columns{
            width: 100px;
    float: none;
    position: relative;
    left: 60%;
    height: 0px;
   }
/*  .order .large-1.columns.wrapper:first-child{
        top: -205px!important;
   }
    .checkout .row.small-collapse .order>div:nth-child(3){
          top: -70px;
    left: 60%;
   }
   .checkout .row.small-collapse .order>div:nth-child(5){
           top: -150px;
   }*/
   .callback>span:first-child{
    padding-right: 15px;
   }
   .order-item+.large-3.columns+.large-1{
     top: -205px!important;
   } 
   .order-item+.large-3.columns+.large-1+.large-1{
       top: -70px!important;
    left: 60%!important;
   }
   .order-item+.large-3.columns+.large-1+.large-1+.large-1{
       top: -150px!important;
    
   }
   .checkout .large-1.columns.wrapper span:last-child{
        margin-top: 0px;
   }
   .checkout .close{
        position: relative;
    top: -20px;
    left: 65%;
   }
    .checkout .order-item>.top-name>span{
          display: block;
    width: 150px;
    position: relative;
    top: 205px;
    }
    .checkout .total-value .large-2,
    .checkout .total-bold .large-2 {
          padding-right: 50%;
    }
    .checkout .large-1.columns.total{
          position: relative;
    top: -120px!important;
    border: none;
    }
    .checkout .total-bold .large-1.columns.total{
      top:-25px!important;
    }
    .checkout .empty-cart-wrapper{
      height:50px;
    }
    .checkout .row.forms>.row{
      margin:0;
    }
    .checkout .row.forms>.column{
      padding: 0;
    }
    .checkout .checkboxes{
          text-align: left;
    padding-left: 20px!important;
    }
    .checkout .checkboxes span{
            font-size: 17px;
    }
    .product-item img.gluten {
      right: 10px;
    }
    .product-item img.vegan {
      left: 10px;
      right: inherit;
    }
    .product-item img.gluten,
    .product-item img.vegan {
      display: inline-block;
      width: 60px!important;

    }
    .product-icons {
        position: absolute;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        width: 160px;
        bottom: -20px;
        top: inherit;
    }
    .products>.row {
      padding-bottom: 50px;
    }
}
@media(max-width:480px){
      .welcome-page h1{
      font-size: 30px;  
}
.welcome-page #buy-now{
        width: 200px;
            padding: 10px 30px;
                font-size: 24px;
  }
  .welcome-page h1{
        margin-bottom: 50px;
  }
  }
@media(max-width:360px){

    .list-item  .price{
          text-align: right;
          position: relative;
          top: -30px;
    }
    .list-item  .pieces-wrapper>p{
          left: -100px;
           top: -15px;
    } 
    .list-item .product-item img{
      width:100%;
    }
    .callback>span, span.tel{
          font-size: 14px;
    }

}
@media (min-width: 1024px) {
  .text-right .btn-wrapper {
    max-width: 175px;
    margin-left: 7px;
  }
}
ul#example-menu>li+ul>li {
    display: none;
}
ul#example-menu>li+ul>li.checked {
    display: block;
}
ul#example-menu>li.checked+ul>li {
    display: block;
}


/*VSZ*/
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */
.reveal h4 {
  margin-bottom: 0;
  font-size: 1em;
  margin-top: 5px;
  font-weight: bold;
}
.reveal div h4:first-child {
  margin-top: -5px;
}
.reveal div p {
  margin-bottom: 5px;
}
.vsz_more_information {
  text-align: center;
}
.vsz_more_information p,
.vsz_more_information div {
  display: inline-block;
  margin: 20px;
}
.vsz_pieces {
  text-align: center;
  font-size: 30px;
  margin-bottom: 0;
  font-weight: bold;
  font-family: Open Sans;
  background: #f8f8f8;
}
.vsz_pieces>span {
  font-size: 14px;
  font-family: Open Sans;
}
.reveal .close-button>span {
  color: #cc4b37;
}
.reveal h3 {
  font-weight: bold;
  padding-left: 15px;
}
.vsz_img_wrapper {
  border: 1px solid #e3e3e3;
  padding: 10px;
  text-align: center;
}
/*30.03.2017*/
.top-bg {
  max-height: 153px;
}
.products>.row {
  border-right: 1px solid #e3e3e3;
}
.reveal .close-button {
    top: -9px;
    right: -3px;
}
.reveal .close-button>span {
  background: -webkit-linear-gradient(#f93b05, #c80833);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.vertical.menu {
    margin-top: -10px;
    margin-left: 35px;
}
.tile-list .large-3 .price + .btn-wrapper {
  margin-top: 20px;
}
section.products.tile-list .line {
  clear: both;
}
.list-item .vsz_img_wrapper_list {
    float: left;
    max-width: 190px;
    min-width: 190px;
}
.list-item .vsz_description_list {
    float: left;
    margin-left: 30px;
}
.list-item .vsz_more_inforamtion_list {
    float: right;
    margin-right: 15px;
    text-align: center;
    min-width: 200px;
}
.list-item .vsz_more_inforamtion_list .btn-wrapper span {
  display: block;
  margin-bottom: 10px;
}
.products .vsz_description_list>ul>li {
    list-style-image: url(../list-image.png);
    font-family: Open Sans;
    font-size: 13px;
}
.title-list {}
.tile-list .vsz_description_list {
  display: none;
}
.tile-list .list_pieces-wrapper {
  width: 100%;
  min-height: 25px;
  text-align: center;
}
.tile-list .list_pieces-wrapper>p {
  display: inline-block;
  margin-bottom: 0;
  position: static;
  font-family: Open Sans;
  font-weight: bold;
}
.tile-list .list_pieces-wrapper>p:first-child {
    font-size: 14px;
    margin-right: 3px;
}
.tile-list .list_pieces-wrapper + .btn-wrapper {
  text-align: center;
}
.tile-list .list_pieces-wrapper + .btn-wrapper > span {
  position: static;
  display: block;
  margin-bottom: 5px;
}
.tile-list .vsz_more_inforamtion_list .pieces-wrapper,
.tile-list .vsz_more_inforamtion_list .pieces-wrapper + .price,
.list-item .list_pieces-wrapper {
  display: none;
}
.reveal {
  margin: 0 auto;
  position: relative;
  max-width: 1058px!important;
  max-height: 1024px;
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.4);
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
  width: 100%;
  overflow-x: hidden;
}
.reveal h3 {
  font-size: 1.2rem;
}
.vertical.menu label {
  position: relative;
}
input[type=checkbox]+label:before {
  position: absolute;
  top: 2px;
}
.menu.vertical > li {
  margin:  10px 0;
}
.vertical.menu li:hover label:before {
    border: 2px solid #068e02;
}
.reveal .vsz_img_wrapper img {
  max-height: 400px;
  height: 400px;
}
.country-row {
    display: inline;
}
.reveal div h4:first-child {
    display: inline;
}
.reveal div h4:first-child + br + h4 {
    display: inline;
}
.reveal div h4:first-child + br + h4 + p {
    display: inline;
}
.reveal .large-6.small-12.columns + .large-6.small-12.columns {
  margin-top: -5px;
}
.row.product-item {
  position: relative;
}
.tile-list .product-icons {
  top: inherit;
  bottom: 10px;
  left: 0;
  right: 0;
  width: 130px!important;
  margin-left: auto;
  margin-right: auto;
}
.tile-list .product-icons img {
  margin: 0 1px;
}
.tile-list .row.product-item {
  padding-bottom: 60px;
  min-height: 676px;
}
/* Small only */
@media screen and (max-width: 39.9375em) {
  body {}
    .list-item .vsz_more_inforamtion_list {
    width: 100%;
  }
  .list-item .vsz_more_inforamtion_list .pieces-wrapper p {
    position: static;
    text-align: inherit;
  }
  .list-item .vsz_more_inforamtion_list .price {
    position: static;
    text-align: inherit;
    margin-top: 20px;
  }
  .list-item .vsz_more_inforamtion_list .btn-wrapper {
    margin-top: 0;
  }
  .list-item .vsz_img_wrapper_list img {
    width: inherit;
  }
  .list-item .vsz_img_wrapper_list,
  .list-item .vsz_description_list {
    width: 100%;
    float: none;
    max-width: inherit;
  }
  .list-item .vsz_description_list {
    width: inherit;
    float: none;
    max-width: inherit;
    margin-left: 0;
    padding: 15px;
  }
  .reveal .close-button {
    top: 0px;
    right: 10px;
  }
  .reveal img.gluten, .reveal img.vegan {
    position: absolute;
    top: 85px;
  }
  .reveal img.gluten {
    right: 50px;
  }
  .reveal img.vegan {
    right: 120px;
  }
}

/* Medium and up */
@media screen and (min-width: 40em) {
  body {}
  .welcome-page h1 {
    font-size: 3rem;
  }
  .list-item .vsz_description_list + .clearfix {
    display: none;
  }
/*    .list-item .vsz_more_inforamtion_list {
    width: 100%;
  }*/
  .list-item .vsz_more_inforamtion_list .pieces-wrapper p {
    position: static;
    text-align: inherit;
  }
  .list-item .vsz_more_inforamtion_list .price {
    position: static;
    text-align: inherit;
    margin-top: 10px;
  }
  .list-item .vsz_more_inforamtion_list .btn-wrapper {
    margin-top: -10px;
  }
  .list-item .vsz_img_wrapper_list img {
    width: inherit;
    max-height: 150px;
    display: block;
    margin: 0 auto;
  }
  .reveal img.gluten, .reveal img.vegan {
    position: absolute;
    top: 5px;
  }
  .reveal img.gluten {
    right: 50px;
  }
  .reveal img.vegan {
    right: 120px;
  }
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  body {}
  .list-item .vsz_img_wrapper_list {
    max-width: 50%;
    float: none;
    margin: 0 auto;
  }
  .list-item .vsz_description_list {
    float: right;
  }
  .list-item .vsz_more_inforamtion_list {
    width: 100%;
  }
  .list-item .vsz_more_inforamtion_list .pieces-wrapper p {
    position: static;
    text-align: inherit;
  }
  .list-item .vsz_more_inforamtion_list .price {
    position: static;
    text-align: inherit;
    margin-top: 20px;
  }
  .list-item .vsz_more_inforamtion_list .btn-wrapper {
    margin-top: 0;
  }
  a.text-sidebar {
    min-width: 150px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1200px) {
  a.text-sidebar {
    min-width: 160px;
  }
}
/* Large and up */
@media screen and (min-width: 64em) {
  .title-bar {
    display: none!important;
  }  
}
/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}
  body {}
}
/*vsz*/